* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}

.brick {
    background-color: #90caf9;
}

.coin {
    background: url('coin.gif')no-repeat;
    background-position: center;
    background-size: cover;
}

.furit {
    background: url('star.gif')no-repeat;
    background-position: center;
    background-size: cover;
}


/* .empty {
    background: none;
} */

#pacman {
    background: url('domo.gif')no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#redghost {
    background: url('redGhost.gif')no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#blueghost {
    background: url('blueGhost.gif')no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#score {
    width: 50px;
    height: 15px;
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-align: center;
}